/* Load mplus */
@font-face{ 
  font-family: 'mplus-1mn-regular';
  src: url('http://mplus-webfonts.sourceforge.jp/mplus-1mn-regular.eot');
  src: url('http://mplus-webfonts.sourceforge.jp/mplus-1mn-regular.eot?#iefix') format('embedded-opentype'),
       url('http://mplus-webfonts.sourceforge.jp/mplus-1mn-regular.woff') format('woff'),
       url('http://mplus-webfonts.sourceforge.jp/mplus-1mn-regular.ttf') format('truetype');
}

html {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

@media (min-width: 48em) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 58em) {
  html {
    font-size: 20px;
  }
}

/* .theme-base-0g .sidebar { */
/*   background-color: #ffffff; */
/*   color: #515151; */
/* } */
/* .theme-base-0g .content a, */
/* .theme-base-0g .related-posts li a:hover { */
/*   /* color: #8f5536; */ */
/*   color: #6a9fb5; */
/* } */
/* .sidebar a { */
/*   /* color: #fff; */ */
/*   /* color: #8f5536; */ */
/*   color: #6a9fb5; */
/* } */

.sidebar-about h1 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 800;
}

.sidebar-nav-item {
  /* border: 1px solid #6a9fb5; */
  /* background-color: #fff; */
  /* height: 2rem; */
  width: 90%;
  margin: .3rem;
  margin-left: 0;
  /* padding: 10px 16px; */
  padding: .2rem .7rem;
  border: 1px solid #ac4142;
}

.sidebar-nav-item:focus,
.sidebar-nav-item:hover {
  /* background-color: #6095d3; */
  background: #ac4142;
  color:white;
  border: 1px solid white;
}

a.sidebar-nav-item:focus,
a.sidebar-nav-item:hover {
  text-decoration: none;
}

@media (min-width: 58em) {
  .sidebar-nav-item {
    text-align: left;
  }
}

abbr {
  font-weight: inherit;
  text-transform: inherit;
  font-size: inherit;
  color: inherit;
}

#contatos {
  font-size: .95rem;
}

ul.lista-contato {
  list-style: none;
  margin: 0;
  padding: 0;
}

.lista-contato > li {
  padding-left: 5px;
  padding-right: 5px;
  display: inline-block;
}

dl.contatos-membros {
  line-height: 1rem;
}

.contatos-membros > dt {
  padding-bottom: .75rem;
  padding-top: 1rem;
}

.vcard {
  font-weight: 100;
}

.fn {
  font-weight: normal;
}

.street-address:before {
  content: "\f041";
	font-family: FontAwesome;
  display: inline;
  padding-right: 10px;
}

.locality {
  margin-left: 1rem;
}

div.postal-code {
  display: block;
  margin-left: 1rem;
}

.tel,.email {
  display: block;
}

.tel:before {
  content: "\f095";
	font-family: FontAwesome;
  display: inline;
  padding-right: 10px;
}

.email:before {
  content: "\f0e0";
	font-family: FontAwesome;
  display: inline;
  padding-right: 10px;
}

i.nav-icon {
  margin-right: 10px;
}

.sidebar {
  text-align: left;
}

section {
  padding: 1rem 0;
  min-height: 100vh;
}

#sobre {
  padding-top: 0px;
}

/* FORMS */

input, textarea {
  padding: 9px;
  border: solid 1px #E5E5E5;
  outline: 0;
  font-family: "mplus-1mn-regular", monospace;
  font-weight: 300;
  font-size: .7rem;
  width: 100%;
  background: #FFFFFF;
}

textarea {
  width: 100%;
  max-width: 100%;
  height: 30vh;
  line-height: 150%;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
  border-color: #C9C9C9;
}

.form label {
  margin-left: 10px;
  color: #999999;
}

.submit input {
  width: auto;
  padding: 9px 15px;
  background: #617798;
  border: 0;
  font-size: 14px;
  color: #FFFFFF;
}

#contactForm button {
  width: 6rem;
  height: 2rem;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 600;
  letter-spacing: .2rem;
  text-transform: uppercase;
  color: #ac4142;
  background: #fff;
  border: 1px solid #ac4142;
}

#contactForm button:hover {
  color: #fff;
  background: #ac4142;
  border: none;
}

code,
pre { 
  font-family: "mplus-1mn-regular", monospace;
}

code {
  padding: .10rem;
}

h1 {
  font-weight: 800;
  text-transform: uppercase;
  color: #ac4142;
  display: block;
  /* border-bottom: 1px solid #ac4142; */
}

.logo {
  font-weight: 900
}

.download-button {
  border: 1px solid #ac4142;
  padding: .75rem;
  margin: .5rem 0;
  color: #ac4142;
  text-decoration: none;
  display: inline-block;
  background: #f9f9f9;
}

.download-button:focus,
.download-button:hover {
  background: #ac4142;
  color: #fff !important;
  text-decoration: none;
}

.list-unstyled {
  list-style: none
}

.ui-state-focus:before,
.ui-state-default:before {
  content: "\f105";
	font-family: FontAwesome;
  display: inline;
  padding-right: 10px;
  font-size: 1rem;
}

.ui-state-active:before {
  content: "\f107";
	font-family: FontAwesome;
  display: inline;
  padding-right: 10px;
}
