<p class="lead"> O prazo para <em>envio de proposta de trabalho (resumos)</em> é <strong>de
  10 de fevereiro a 25 de março</strong>. No dia <strong>1º de abril</strong>
será disponibilizada a <em>lista dos trabalhos aprovados</em> em seus
respectivos <abbr title="Grupos de Trabalho">GTs</abbr>,  os quais serão
criados após o envio dos resumos. O <em>trabalho completo</em> poderá ser enviado até o
dia <strong>03 de maio</strong> &mdash; sendo o envio deste, no entanto, <em>opcional</em>.
Serão publicados tanto os resumos (no Caderno de Resumos e no site do Fórum),
quanto os trabalhos completos (no site do Fórum).  </p>

<p> Poderão inscrever-se <em>estudantes regulares</em> no Programa de Pós-Graduação
  em Sociologia do <abbr title="Instituto de Filosofia e Ciências
Humanas">IFCH</abbr>/<abbr title="Universidade Estadual de
Campinas">Unicamp</abbr> com <em>uma única proposta de trabalho</em>.
Os artigos ou ensaios deverão ter como autor/a apenas a/o proponente.</p>

<p><strong>Todas as inscrições deverão ser realizadas através do endereço de email
<code><a href="mailto:fppgs@unicamp.br">fppgs@unicamp.br</a></code>.</strong></p>

<div id="chamada-de-trabalhos">

<p>Para as demais normas de submissão, consulte a chamada de trabalhos completa:</p>

<p><strong><a class="download-button" href="{{ site.baseurl }}public/edital.pdf">
    <i class="fa fa-download"></i> Download da
chamada de trabalhos em formato <abbr title="Portable Document
Format">PDF</abbr></a></strong></p>

</div>

<p>Consulte abaixo o cronograma e as regras para a apresentação de
propostas para o evento.</p>

<h2 id="resumo-cronograma">Cronograma</h2>

  <div class="table-responsive">
    <table class="table table-striped">
      <col width="61%">
      <col width="34%">

      <tbody>
        <tr class="odd">
          <td align="left">Envio de propostas de trabalho
          (resumo)</td>

        <td align="left">10 de fevereiro a 25 de março de 2015</td>
        </tr>

        <tr class="even">
          <td align="left">Resultado da seleção de propostas</td>

          <td align="left">1º de abril de 2015</td>
        </tr>

        <tr class="odd">
          <td align="left">Data limite para envio de trabalhos
          completos para as propostas aprovadas</td>

          <td align="left">03 de maio de 2015</td>
        </tr>

        <tr class="odd">
          <td align="left">Divulgação da Programação dos <abbr title="Grupos de
          Trabalho">GTs</abbr></td>

          <td align="left">20 de maio de 2015</td>
        </tr>
      </tbody>
    </table>
  </div><!--.table-responsive -->


<h2 id="regras">Regras para envio de propostas de trabalho</h2>

<h3>Inscrições (resumos)</h3>

  <ul>
    <li>Nome completo do proponente;</li>
    <li>Nível do curso (Mestrado ou Doutorado); </li>
    <li>email;</li>
    <li>Nome da/o orientador/a;</li>
    <li>Título do trabalho;</li>
    <li>Resumo de até <strong>1500 caracteres</strong>, incluindo os
      espaços;</li>
    <li>palavras-chave (no máximo cinco).</li>
  </ul>

  <p>As propostas aprovadas serão divulgadas no site. 
    Para os trabalhos completos serão requeridos:

<h3>Envio de Trabalhos Completos/Ensaios</h3>

  <ul>
    <li>Nome completo do proponente;</li>
    <li>Nível do curso (Mestrado ou Doutorado); </li>
    <li>email;</li>
    <li>Nome da/o orientador/a;</li>
    <li>Título do trabalho;</li>
    <li>Resumo de até <strong>1500 caracteres</strong>, incluindo os
      espaços;</li>
    <li><strong>Resumo</strong> (1500 caracteres com espaço) e
      <strong>Palavras-chave</strong> (no máximo cinco);</li>
    <li>Resumo e palavras-chaves <strong>em inglês
      (<em>Abstract</em> e <em>Keywords</em>)</strong>;</li>
    <li>trabalho completo (artigo/ensaio) contendo entre <strong>21 e 42 mil
      caracteres</strong>, incluindo os espaços.</li>
  </ul>

  <p> Para as normas de formatação dos trabalhos, consulte a chamada de trabalhos, disponível para download <a href="#chamada-de-trabalhos">acima</a>.</p>
