<!DOCTYPE html>
<html xmlns="//www.w3.org/1999/xhtml" xml:lang="pt" lang="pt-br">

  {% include head.html %}

  <body class="theme-base-08">

    {% include sidebar.html %}

    <div class="content container">
      {{ content }}
    </div>

  </body>
  {% include footer.html %}
</html>
